#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#single_article {
  display: flexbox;
  border-radius: 50px;
  padding: 1em 2em;
  color: rgba(247, 226, 255, 0.87);
  background-color: rgb(133, 39, 177);
  gap: 2em;
  width: 350px;
}

#articleCard {
  display: flexbox;
  border: 20px solid transparent;
  border-color: #242424;
  border-radius: 50px;
  padding: 1em 2em;
  color: rgba(247, 226, 255, 0.87);
  background-color: rgb(133, 39, 177);
  gap: 2em;;
}

.thumbnail {
  max-width: 200px;
  border-radius: 20px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 350px 350px 350px;
  gap: 50px;
  padding: 10px;
}