#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#heading {
  color: rgba(247, 226, 255, 0.87);
}

#heading:hover {
  color: rgb(184, 76, 235);
}

#single_article {
  display: flexbox;
  border-radius: 50px;
  padding: 1em 2em;
  color: rgba(247, 226, 255, 0.87);
  background-color: rgb(133, 39, 177);
  gap: 2em;
  width: 350px;
}

#articleCard {
  display: flexbox;
  border: 20px solid transparent;
  border-color: #242424;
  border-radius: 50px;
  padding: 1em 2em;
  color: rgba(247, 226, 255, 0.87);
  background-color: rgb(133, 39, 177);
  gap: 2em;;
}

.thumbnail {
  max-width: 200px;
  border-radius: 20px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 350px 350px 350px;
  gap: 50px;
  padding: 10px;
}

#topicCard {
  display:block;
  gap: 2em;
  border: 20px solid transparent;
  border-color: #242424;
  border-radius: 50px;
  padding: 2em 3em;
  color: rgba(247, 226, 255, 0.87);
  background-color: rgb(133, 39, 177);
}

.dt {
  text-align: left;
  font-size: 3em;
  font-weight: 600;
}

.dd {
  text-align: left;
  font-size: 1.5em;
  font-style: italic;
}

.articleBody {
  text-align: left;
}

.singleComment {
  text-align: left;
  padding: 2em 3em;
  border-radius: 50px;
  color: rgb(133, 39, 177);
  background-color: rgba(247, 226, 255, 0.87);
  border: 20px solid transparent;
  border-color: #242424;
  gap: 3em;
}

.commentHead {
  line-height: 0.02;
}

.textbox {
  width: 600px;
  height: 200px;
  font-size: 1.5em;
  border-radius: 10px;
}

#commentArea{
  display: inline-flex;
  flex-direction: row;
}

.gap {
  width: 20px;
}

.upVote {
  color:rgb(136, 231, 136);
  font-size: 1.25em;
}

.downVote {
  color:rgb(236, 78, 78);
  font-size: 1.25em;
}